@font-face {
   font-family: '665db30c1e980eb3ad917086_UAFSans-Bold';
   font-display: swap;
   src: url('665db30c1e980eb3ad917086_UAFSans-Bold/font.ttf');
}
@font-face {
   font-family: '665db35a8b155b8948d29b2e_UAFSans-SemiBold';
   font-display: swap;
   src: url('665db35a8b155b8948d29b2e_UAFSans-SemiBold/font.ttf');
}
@font-face {
   font-family: '665db346c76e5f084e6ea7c8_UAFSans-Regular';
   font-display: swap;
   src: url('665db346c76e5f084e6ea7c8_UAFSans-Regular/font.ttf');
}
@font-face {
   font-family: '665db3194fce00e667a51df0_UAFSans-Medium';
   font-display: swap;
   src: url('665db3194fce00e667a51df0_UAFSans-Medium/font.ttf');
}
