@font-face {
   font-family: '665db30c1e980eb3ad917086_UAFSans-Bold';
   font-display: swap;
   src: url('file:///Users/vfomin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-10-10_215004/fonts/665db30c1e980eb3ad917086_UAFSans-Bold/font.ttf');
}
